<p *ngIf="max && min" class="history-text mt-2">最高 {{ max.date.toISOString().substring(0, 10) }}: <span>{{ max.numShow }}</span>
最低 {{ min.date.toISOString().substring(0, 10) }}: <span>{{ min.numShow }}</span>
中位数 {{ median?.date?.toISOString()?.substring(0, 10) }}: <span>{{ median?.numShow }}</span>
</p>

<p *ngIf="loading" class="mt-5 mb-5 text-center">loading ...</p>

<p *ngIf="!loading && emptyData" class="mt-5 mb-5 text-center">暂无数据</p>

<div #box class="no-select" [class.hide-sub]="emptyData"></div>
