.ty-1 {
	mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTEiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMSAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNS41IDBMMCA2LjUgNS41IDEzIDExIDYuNXoiIGZpbGw9IiNERkQ5QjciIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
	mask-size: 11px 13px;
}

.ty-2 {
	mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxMiAxNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTIgNy41TDkuNyA0LjdsLTYgNy41TDYgMTV6TTYgMEwwIDcuNWwyLjMgMi44IDYtNy41eiIgZmlsbD0iI0ZBQjgxQiIgZmlsbC1ydWxlPSJldmVub2RkIi8+PC9zdmc+');
	mask-size: 12px 15px;
}

.ty-3 {
	mask: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTUgMTgiIHdpZHRoPSIxNSIgaGVpZ2h0PSIxOCI+PHN0eWxlPi5zdDB7ZmlsbDojZGZkOWI3fTwvc3R5bGU+PGcgaWQ9IlhNTElEXzFfIj48cGF0aCBpZD0iWE1MSURfOV8iIGNsYXNzPSJzdDAiIGQ9Ik0xMy4yIDYuOGwtNy41IDkuMUw3LjUgMTggMTUgOXoiLz48cGF0aCBpZD0iWE1MSURfMTBfIiBjbGFzcz0ic3QwIiBkPSJNMTAuMyAzLjRsLTcuNCA5LjEgMS44IDIuMSA3LjQtOXoiLz48cGF0aCBpZD0iWE1MSURfMTFfIiBjbGFzcz0ic3QwIiBkPSJNNy41IDBMMCA5bDEuOSAyLjIgNy40LTl6Ii8+PC9nPjwvc3ZnPg==');
	mask-size: 15px 18px;
}

.ty-4 {
	mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwbDYgMTAgNi0xMHoiIGZpbGw9IiNGQUI4MUIiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
	mask-size: 12px 10px;
}

.ty-5 {
	mask: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0wIDBoOHY4SDB6IiBmaWxsPSIjREZEOUI3IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=');
	mask-size: 10px 10px;
}

.type-icon {
	width: 18px;
	height: 18px;
	mask-position: center;
	display: inline-block;
	background-color: #212529;
	vertical-align: text-bottom;
	margin-right: 0.5rem;
	mask-repeat: no-repeat;
}

.btn-outline-primary > .type-icon {
	background-color: #0d6efd;
}

.btn-outline-primary:hover > .type-icon, .btn-primary > .type-icon {
	background-color: white;
}
