@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.mono {
	font-family: var(--bs-font-monospace);
}

td.num {
	text-align: right;
	font-family: var(--bs-font-monospace);
}

td > .btn {
	margin-top: -8px;
	margin-bottom: -6px;
}

html, body {
	height: 100%;
}

body {
	min-width: 40rem;
	overflow-y: scroll;
}

img.flag {
	width: 29px;
	height: 18px;
	margin-right: 0.5rem;
	margin-bottom: 0.25rem;
}

@import "./icon.scss";
