@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.mono {
	font-family: var(--bs-font-monospace);
}

td.num {
	text-align: right;
	font-family: var(--bs-font-monospace);
}

html, body {
	height: 100%;
}

body {
	min-width: 40rem;
	overflow-y: scroll;
}
