@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.mono {
	font-family: var(--bs-font-monospace);
}

td.num {
	text-align: right;
	font-family: var(--bs-font-monospace);
}

td > .btn {
	margin-top: -8px;
	margin-bottom: -6px;
}

html, body {
	height: 100%;
}

body {
	min-width: 40rem;
	overflow-y: scroll;
}

img.flag {
	width: 29px;
	height: 18px;
	margin-right: 0.5rem;
	margin-bottom: 0.25rem;
}

.modal {
	background-color: rgba(0, 0, 0, 0.8);
}

.history-text {
	text-align: center;
	span {
		font-weight: bold;
		display: inline-block;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		&:nth-of-type(1) {
			color: green;
		}
		&:nth-of-type(2) {
			color: red;
		}
	}
}

@import "./icon.scss";
