.table {
	width: auto;
	td {
		min-width: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

div.table-bar {
	margin-bottom: 1rem;
}

tr.shop-1, tr.shop-2 {
	background-color: lighten(gold, 45%);
	color: darken(gold, 30%);
}

div.list-table {
	padding-bottom: 3rem;
}

button {
	user-select: none;
}

td.tier {
	width: 3.5rem;
}

div.br-line {
	border-bottom: 1px solid silver;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

div.no-result {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

td.key-num {
	width: 90px;
}

td.name {
	p {
		width: 12rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin: 0;
	}
}

td.rank {
	width: 4rem;
}

$val-color: #39a;
$battle-color: red;

td.bar {
	width: 400px;
	div {
		overflow: hidden;
		display: block;
		padding: 0;
		line-height: 0;
	}
	div.val-bg, div.battle-bg {
		width: 100%;
	}
	div.val-bg {
		background-color: lighten($val-color, 50%);
	}
	div.battle-bg {
		height: 4px;
		background-color: lighten($battle-color, 45%);
		margin-top: 2px;
		margin-bottom: 0.125rem;
	}
	div.val {
		height: 1rem;
		background-color: $val-color;
	}
	div.battle {
		height: 4px;
		background-color: $battle-color;
	}
}

div.topbar {
	> * {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}

button > img.flag {
	display: none;
}
@media (min-width: 992px) {
	button > img.flag {
		display: inline-block;
	}
}

.xclip {
	position: absolute;
	top: -1000px;
	left: -1000px;
}
