<div class="container topbar">

	<div class="btn-group" role="group">
		<button [disabled]="!init || null" *ngFor="let t of keyList" (click)="clickKey(t.id)" type="button" class="btn {{ key === t.id ? 'btn-primary' : 'btn-outline-primary' }}">{{ t.name }}</button>
	</div>

	<div class="btn-group" role="group">
		<button [disabled]="!init || null" *ngFor="let t of tierList" (click)="clickTier(t, $event)" type="button" class="btn {{ selectTier.includes(t) ? 'btn-primary' : 'btn-outline-primary' }}">{{ t }}</button>
	</div>

	<div class="btn-group" role="group">
		<button [disabled]="!init || null" *ngFor="let t of typeList" (click)="clickType(t.id, $event)" type="button" class="btn {{ selectType.includes(t.id) ? 'btn-primary' : 'btn-outline-primary' }}"><span class="type-icon ty-{{ t.id }}"></span> {{ t.name }}</button>
	</div>

	<div class="btn-group" role="group">
		<button [disabled]="!init || null" *ngFor="let t of shopList" (click)="clickShop(t.id, $event)" type="button" class="btn {{ selectShop.includes(t.id) ? 'btn-primary' : 'btn-outline-primary' }}">{{ t.name }}</button>
	</div>

	<div class="btn-group" role="group">
		<button [disabled]="!init || null" *ngFor="let t of nationList" (click)="clickNation(t.id, $event)" type="button" class="flag btn {{ selectNation.includes(t.id) ? 'btn-primary' : 'btn-outline-primary' }}"><img class="flag" src="/assets/flag/{{ t.id }}.png">{{ t.name }}</button>
	</div>

	<button [disabled]="!init || null" (click)="clickHigher()" type="button" class="btn {{ higher ? 'btn-primary' : 'btn-outline-primary' }}" title="战斗力前 35% 的玩家">老车长</button>

	<button [disabled]="!init || null" *ngIf="li.length" (click)="copyURL()" type="button" class="btn {{ lastURI === lastCopy ? 'btn-success' : 'btn-outline-success' }}">复制地址</button>
</div>

<div class="container-fluid br-line">
	<div class="container">
		<div class="row">
			<div class="col-auto me-auto">红条表示出场率。除了排序条件，其他可按 ctrl + 左键复选</div>
			<div class="col-auto" *ngIf="li.length">结果数：{{ li.length }}{{ totalNum }}，数据抓取日期：{{ srcDate }}</div>
		</div>
	</div>
	<input #xclip type="text" value="" class="xclip">
</div>

<div class="container-fluid">
	<div class="container table-bar">
		<div class="row">
			<div class="col-auto">
				<div class="btn-group" role="group">
					<button [disabled]="!init || null" *ngFor="let t of tableList" (click)="clickTable(t.id)" type="button" class="btn {{ tableType === t.id ? 'btn-primary' : 'btn-outline-primary' }}">{{ t.name }}</button>
				</div>
			</div>

			<div class="col-auto" *ngIf="tableType === 'table'">
				<button [disabled]="!init || null" (click)="clickByBattle()" type="button" class="btn {{ byBattle ? 'btn-primary' : 'btn-outline-primary' }}">按出场排序</button>
			</div>

			<div class="col-auto" *ngIf="tableType === 'matrix'">
				横轴：
				<div class="btn-group" role="group">
					<button [disabled]="(!init || t.id === key) || null" *ngFor="let t of yKeyList" (click)="clickYKey(t.id)" type="button" class="btn {{ t.id === key ? 'btn-outline-secondary' : (yKey === t.id ? 'btn-primary' : 'btn-outline-primary') }}">{{ t.name }}</button>
				</div>
			</div>
			<div class="col-auto" *ngIf="tableType === 'matrix'">
				<button class="btn {{ matrixName ? 'btn-primary' : 'btn-outline-primary' }}" (click)="clickMatrixName()">名称标签</button>
			</div>
		</div>
	</div>
</div>

<div class="container list-table">
	<div class="no-result" *ngIf="!li.length && init">
		<p>查无结果，请换个过滤条件，或者 <button class="btn btn-danger" (click)="clickReset()">重置条件</button> </p>
	</div>
	<table class="table table-hover" *ngIf="li.length" [style.display]="tableType === 'table' ? 'block' : 'none'">
		<tbody>
			<tr *ngFor="let t of li" class="shop-{{ t.shop }}">
				<td class="num tier">{{ t.tier }}</td>
				<td class="name"><p><span class="type-icon ty-{{ t.type }}"></span><img class="flag" src="/assets/flag/{{ t.nation }}.png">{{ t.name }}</p></td>
				<td class="num key-num">{{ t.numShow }}</td>
				<td class="num rank">{{ t.rank }}</td>
				<td class="bar">
					<div class="val-bg">
						<div class="val" style="width: {{ t.numWidth }}"></div>
					</div>
					<div class="battle-bg">
						<div class="battle" style="width: {{ t.battleWidth }}"></div>
					</div>
				</td>
				<td class="wiki num">
					<a target="_blank" href="https://wotgame.cn/zh-cn/tankopedia/{{ t.id }}/">参数</a>
				</td>
			</tr>
		</tbody>
	</table>
	<app-matrix *ngIf="li.length" [style.display]="tableType === 'matrix' ? 'block' : 'none'" [list]="matrixData" [name]="matrixName"></app-matrix>
</div>
