.table {
	width: auto;
	td {
		min-width: 3rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

td.tier {
	width: 2rem;
	text-align: right;
}

div.br-line {
	border-bottom: 1px solid silver;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
}

div.no-result {
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

td.key-num {
	width: 90px;
}

td.name {
	width: 183px;
}

td.bar {
	width: 400px;
	div {
		overflow: hidden;
		display:block;
		padding: 0;
		line-height: 0;
	}
	div.val {
		height: 1rem;
		background-color: #39a;
	}
	div.battle {
		margin-top: 2px;
		margin-bottom: 0.125rem;
		height: 4px;
		background-color: red;
	}
}

div.topbar {
	> * {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}
